.ts-tile {
    text-shadow: 0 2px white;
}

.actionpoint {
    background: rgb(175, 175, 175);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: inline-block;
}

.centeroverflow > * {
    transform: translateY(-1px);
}

.centeroverflow:before {
    content: '';
    margin-left: -100%;
}
.centeroverflow:after {
    content: '';
    margin-right: -100%;
}
