@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-item::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.popover {
    @apply invisible absolute;
}

.active.popover {
    @apply visible z-50;
}

.board-scale {
    max-height: 100%;
}

.btn-tile {
    height: 100%;
    width: 100%;
}

.btn-tile {
    min-height: auto;
}

html,
body {
    padding: 0;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

[style*='--aspect-ratio'] > :first-child {
    width: 100%;
}
[style*='--aspect-ratio'] > div {
    height: auto;
}
@supports (--custom: property) {
    [style*='--aspect-ratio'] {
        position: relative;
    }
    [style*='--aspect-ratio']::before {
        content: '';
        display: block;
        padding-bottom: calc(100% / (var(--aspect-ratio)));
    }
    [style*='--aspect-ratio'] > :first-child {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }
}
